*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: rgb(48,177,139);
}

.menu{
	background-color: rgb(122,206,103);
	text-align: center;
	clear: both;
}

.box{
	background-color: rgb(255,227,179);	
	padding: 0px;
}

.container{
	display: flex;
}

.text{
	padding: 20px;
	text-align: justify;
	clear: both;
}

h2{

	margin: 0px;


	background-color: rgb(255,201,116);


	float: right;
	width: 200px;
	height: 30px;	


	text-align: center;
}

/*Mobile view*/
@media(max-width: 767px){
	body{
		background-color: #FFF;
	}

	.container{
		flex-direction: column;
	}

	.box{
		margin: 20px;
	}

}

/*Tablet view*/
@media(min-width: 768px) and (max-width: 991px){
	body{
			background-color: #000;
		}

	.container{
		flex-direction: row;
		flex-wrap: wrap;
	}

	.col-med-1{
		
	}
}

/*Desktop view*/
@media(min-width: 992px){
	.container{
		flex-direction: row;
	}
}